<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Kuvagalleria</title>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<link type="text/css" rel="stylesheet" href="css/kuvagalleria.css" th:href="@{css/kuvagalleria.css}" />
<meta charset="utf-8"/>
</head>
<body>
<div class="container-fluid">
<div class="jumbotron">
<h2>Heissan</h2>
<p>Tässä kokeilen bootstrappia ja mukavaa on!</p>
</div>
<div>
<table class="table-hover">
<tr>
	<th>Nimi</th>
</tr>
<tr th:each = "pic : ${pics}">
	<td th:text="${pic.name}"></td>
	<td><a th:href="@{/delete/{id}(id=${pic.id})}" class="btn btn-danger">Delete</a></td>
</tr>
</table>
</div>
<div class="napit-rivi">
<a href="/addpic" class="btn btn-success">Lisää kuva</a>
<a href="/addpic" class="btn btn-success">JokuToinenNappi</a>
<form th:action="@{/logout}" method="post">
<input class="btn btn-success" type="submit" value="Sign Out"/>
</form>
</div>
</div>
</body>
</html>