<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Server Programming</title>
</head>
<body>
 <!--  <div th:each="p : *{person}">  -->
    <!--    <input th:field="*{person[__${pStat.index}__].name}" />  -->
  <!--   </div>    -->

<table><h1> Friendlist</h1>
<tr th:each="friend: *{friendlist}">  <!--${friendlist} -->
<td th:text="${friend.name}"></td>
</tr> 
</table>
<h1> New friend</h1>
<form action="#" th:action="@{/index}" th:object="${friend}" method="post">
<table>
<tr>
<td><input type="text" th:field="*{name}"  /></td>
<td><input type="submit" value="Apply New Friend"/></td>
<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</td>
 </tr>
</table>
</form>
</body>
</html>